/*
Place your custom CSS here
*/

:root {
    --primary-background-color: #fff;
    --primary-color: #264ae5;
    --secondary-color: #f4f4f4;
    --border-color: #e7e7e9;
    --primary-text-color: #0a1325;
    --max-list-height: 186px;
    --scrollbar-color: #264ae52e;
}
  
.mentions--singleLine .mentions__control {
    padding: 8px 8px;
}

.mentions--singleLine .mentions__input {
    display: flex;
    flex: 1;
    min-width: 50px;
    height: auto;
    padding: 8px 8px;
    resize: vertical;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    color: var(--primary-text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--primary-background-color) !important;
    background-image: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 1.428571429;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.mentions--multiLine .mentions__control {
    padding: 8px 8px;
}

.mentions--multiLine .mentions__input {
    display: flex;
    flex: 1;
    min-width: 50px;
    height: auto;
    min-height: 20px;
    padding: 8px 8px;
    resize: vertical;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    color: var(--primary-text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--primary-background-color) !important;
    background-image: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 1.428571429;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.mentions__suggestions__list {
    background-color: var(--primary-background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    max-height: var(--max-list-height);
    overflow-y: scroll;
}

.mentions__suggestions__list::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.mentions__suggestions__list::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 5px;
}

.mentions__suggestions__item {
    padding: 5px 15px;
    border-bottom: 1px solid var(--border-color);
}

.mentions__suggestions__item--focused {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.mentions__mention {
    color: var(--primary-text-color);
    background-color: var(--border-color);
    position: relative;
    border-radius: 5px;
    z-index: 1;
}